<%= form_with(model: category, class: 'mt-10 flex flex-col gap-5 p-4') do |form| %>
  <% if category.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
        <% category.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block mb-2" %>
    <%= form.text_field :name, class: 'w-full  border-none' %>
  </div>
  
  <div>
    <%= form.label :your_attribute, class: "mb-2 inline-block" do %>
      Icon
    <% end %>
    
    <%= form.file_field :icon, id: 'icon_upload', class: "relative m-0 block w-full min-w-0 flex-auto rounded border border-solid border-neutral-300 bg-clip-padding px-3 py-[0.32rem] text-base font-normal text-neutral-700 transition duration-300 ease-in-out file:-mx-3 file:-my-[0.32rem] file:overflow-hidden file:rounded-none file:border-0 file:border-solid file:border-inherit file:bg-neutral-100 file:px-3 file:py-[0.32rem] file:text-neutral-700 file:transition file:duration-150 file:ease-in-out file:[border-inline-end-width:1px] file:[margin-inline-end:0.75rem] hover:file:bg-neutral-200 focus:border-primary focus:text-neutral-700 focus:shadow-te-primary focus:outline-none dark:border-neutral-600 dark:file:bg-neutral-700 dark:file:text-neutral-100", id: "formFile" %>
  </div>

  <div>
    <%= form.submit "Save", class: 'mt-6 p-3 px-5 bg-green-800 text-white hover:bg-green-600 w-full' %>
  </div>
<% end %>
